<div class="nav-bar">
<ul>
    <li><a class="potter-nav" href="/potter">Harry Potter</a></li>
    <li><a class="rick-nav" href="/rickmorty">Rick and Morty</a></li>
    <li><a class="chuck-nav" href="/jokes">Chuck Norris</a></li>
</ul>
</div>